/* fonts */
@font-face {
  font-family: "Transat Regular";
  src: url("fonts/transat_standard-webfont.ttf");
}
@font-face {
  font-family: "Transat Bold";
  src: url("fonts/transat_bold-webfont.ttf");
}

* {
  margin: 0;
}

/*------- CSS variables -------*/
:root {
  --main-font: "Transat Regular";
  --main-font-bold: "Transat Bold";
  --nav-font: "Courier New", Courier, monospace;
  --text-color: #000;
}

/*----------- HEADER ---------*/
#header {
  font-family: var(--nav-font);
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "logo nav language";
  margin-top: 20px;
}
/* logo */
#logo {
  grid-area: logo;
  margin-left: 30px;
  width: 35%;
}
/* navigation */
#nav {
  grid-area: nav;
  display: flex;
  justify-content: center;
}
#nav a {
  grid-area: nav;
  padding-left: 100px;
  padding-right: 100px;
  text-decoration: none;
  color: var(--text-color);
  text-transform: uppercase;
}
/* language */
.language {
  text-align: right;
  margin-right: 30px;
}

/* profile */
.profileImg {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 20%;
}

/*----------- FOOTER ---------*/
#footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "copyright socialMedia";
  padding: 25px;
  margin-top: 50px;
  background-color: lightsteelblue;
}
.socialIcons img {
  grid-area: socialMedia;
  width: 30px;
  float: right;
}
.copyright {
  grid-area: copyright;
}
