* {
  margin: 0;
}

/*--------- VARIABLES --------*/
:root {
  --simple-font: "Baskerville", serif;
  --main-font: "Transat Regular";
  --main-font-bold: "Transat Bold";
  --nav-font: "Courier New", Courier, monospace;
  --text-color: #000;
}

/*----------------------------- INDEX.HTML -------------------------*/
/*----------- HEADER ---------*/
#header {
  font-family: var(--nav-font);
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "logo nav language";
  margin-top: 35px;
}
/* logo */
#logo {
  grid-area: logo;
  margin-left: 30px;
  width: 35%;
}
/* navigation */
#nav {
  grid-area: nav;
  display: flex;
  justify-content: center;
}
#nav a {
  grid-area: nav;
  margin: 0 100px;
  text-decoration: none;
  color: var(--text-color);
  text-transform: uppercase;
  font-size: 14px;
}
#nav a.woodLink {
  border-bottom: 2px solid olive;
  margin-bottom: 60px;
}
#nav a.woodLink:hover {
  border-bottom: transparent;
}
#nav a.glassLink {
  border-bottom: 2px solid darkred;
  margin-bottom: 60px;
}
#nav a.glassLink:hover {
  border-bottom: transparent;
}
#nav a.homeLink {
  border-bottom: 2px solid orange;
  margin-bottom: 60px;
}
#nav a.homeLink:hover {
  border-bottom: transparent;
}
#nav a:active {
  border-bottom: none;
}
/* language */
.language {
  text-align: right;
}
.langWrap a {
  text-transform: uppercase;
  padding-right: 6px;
  border-right: 1px solid;
  text-decoration: none;
  color: var(--text-color);
}
.langWrap .active {
  text-decoration: underline;
}
.langWrap a:last-of-type {
  border: none;
  margin-right: 20px;
}

/*----------- PROFILE SECTION ----------*/
/* profile */
#profile {
  padding-bottom: 150px;
}
.profileImg {
  display: block;
  margin: 30px auto;
  width: 23%;
}
.profileTitle {
  text-align: center;
  margin: 50px 0 20px 0;
  font-size: 50px;
  font-family: var(--simple-font);
  font-weight: 100;
  font-style: italic;
}
.description {
  text-align: center;
  margin: 0 300px;
  font-size: 22px;
  font-family: var(--simple-font);
  line-height: 150%;
}

/*----------- WOOD SECTION ----------*/
#wood {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-areas: "woodImg woodText";
  font-family: var(--simple-font);
}
#wood img {
  grid-area: woodImg;
  width: 65%;
  display: flex;
  margin-left: 200px;
  margin-bottom: 150px;
}
.woodText {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.7fr 0.3fr 1fr;
  grid-template-areas: "woodSub" "woodDesc" "woodBtn";
}
#wood .woodSub {
  grid-area: woodSub;
  display: flex;
  align-self: flex-end;
  justify-content: center;
  font-style: italic;
  font-weight: 100;
  text-align: center;
  font-size: 50px;
}
#wood .woodDesc {
  grid-area: woodDesc;
  text-align: center;
  display: flex;
  align-self: center;
  justify-content: center;
  font-size: 20px;
}
#wood #woodBtn {
  grid-area: woodBtn;
  background: inherit;
  border: 1px solid;
  padding: 15px 45px;
  font-size: 14px;
  font-family: var(--simple-font);
}
#wood .readMoreBtn {
  grid-area: woodBtn;
  display: flex;
  align-self: flex-start;
  justify-content: center;
  cursor: pointer;
}

/*----------- GLASS SECTION ----------*/
#glass {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-areas: "glassText glassImg";
  font-family: var(--simple-font);
}
#glass img {
  grid-area: glassImg;
  width: 65%;
  display: flex;
  justify-content: left;
}
.glassText {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.7fr 0.3fr 1fr;
  grid-template-areas: "glassSub" "glassDesc" "glassBtn";
}
#glass .glassSub {
  grid-area: glassSub;
  font-style: italic;
  font-weight: 100;
  display: flex;
  align-self: flex-end;
  justify-content: center;
  font-size: 50px;
}
#glass .glassDesc {
  grid-area: glassDesc;
  display: flex;
  align-self: center;
  justify-content: center;
  font-size: 20px;
}
#glass #glassBtn {
  grid-area: glassBtn;
  background: inherit;
  border: 1px solid;
  padding: 15px 45px;
  font-size: 14px;
  font-family: var(--simple-font);
}
#glass .readMoreBtn {
  grid-area: glassBtn;
  display: flex;
  align-self: flex-start;
  justify-content: center;
  cursor: pointer;
}

/*----------- FOOTER ---------*/
#footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "logo socialMedia"
    "copyright email";
  padding: 25px;
  margin-top: 50px;
  background-color: lightgrey;
}
/* copyright */
.copyright {
  grid-area: copyright;
  margin-top: 30px;
  display: flex;
  align-self: flex-end;
}
/* logo */
.logo {
  grid-area: logo;
  width: 12%;
}
/* social media icons */
.socialIcons img {
  grid-area: socialMedia;
  float: right;
  margin-left: 5px;
  width: 30px;
}
/* email */
a.email {
  grid-area: email;
  display: flex;
  justify-content: flex-end;
  align-self: flex-end;
  color: var(--text-color);
  text-decoration: none;
}
a.email::before {
  content: "✉";
  width: 25px;
  transform: scale(2);
  margin-right: 20px;
}
/* phone */
.phone {
  grid-area: email;
  display: flex;
  justify-content: flex-end;
  align-content: flex-start;
}
.phone::before {
  content: "☏";
  width: 25px;
  transform: scale(1.5);
}

/*----------------------------- WOOD.HTML -------------------------*/
/*-------------- TITLE ------------*/
#woodGallery {
  font-family: var(--simple-font);
}
.woodGalleryTitle,
.glassGalleryTitle {
  font-weight: 100;
  font-size: 46px;
  font-style: italic;
  text-align: center;
  margin-bottom: 60px;
}
/*----------- WOOD GALLERY ---------*/
/* grid setup */
#woodList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, 0.4fr);
  row-gap: 5px;
  column-gap: 5px;
  margin: 0 100px;
}
/* template elements */
#woodList .img {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 95%;
}
h2.name,
p.dimensions,
h3.price,
.btn {
  display: grid;
  justify-content: center;
  align-self: center;
  line-height: 2.3em;
}
h2.name {
  font-weight: 100;
  font-size: 34px;
  font-style: italic;
}
.btn {
  background: inherit;
  border: 1px solid;
  padding: 5px 10px;
  margin: 5px 150px 100px 150px;
  font-size: 12px;
  font-family: var(--simple-font);
  cursor: pointer;
  text-decoration: none;
  color: var(--text-color);
}

/*----------------------------- GLASS.HTML -------------------------*/
/*----------- GLASS GALLERY ---------*/
/* grid setup */
#glassList {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 0.4fr);
  row-gap: 5px;
  column-gap: 5px;
  margin: 0 100px;
  font-family: var(--simple-font);
}
/* template elements */
#glassList .img {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 90%;
}

/*--------------------------- MEDIA QUERIES -------------------------*/
/*----------- TABLET VIEW -------------*/
@media screen and (max-width: 1200px) and (min-device-width: 768px) {
  /*---- INDEX.HTML ----*/
  /* header */
  #logo {
    width: 40%;
  }
  #nav a {
    margin: 0 35px;
    font-size: 18px;
  }
  .language {
    font-size: 18px;
  }
  /* profile */
  .profileImg {
    width: 28%;
    margin: 10px auto;
  }
  .description {
    margin: 0 100px;
  }
  /* wood & glass preview */
  #wood img {
    margin-left: 100px;
    margin-bottom: 100px;
    width: 70%;
  }
  #wood .woodSub,
  #glass .glassSub {
    font-size: 40px;
  }
  #wood .woodDesc,
  #glass .glassDesc {
    margin: 40px 0;
  }
  #wood #woodBtn,
  #glass #glassBtn {
    padding: 15px 35px;
  }
  /* footer */
  #footer {
    padding: 10px;
  }
  .copyright {
    margin: 0;
    font-size: 12px;
  }
  a.email {
    font-size: 12px;
  }
  /* social media icons */
  .socialIcons img {
    width: 15px;
  }

  /*---- WOOD.HTML & GLASS.HTML -----*/
  .woodGalleryTitle,
  .glassGalleryTitle {
    font-size: 40px;
    margin-top: 30px;
  }
  #woodList,
  #glassList {
    grid-template-columns: repeat(2, 1fr);
    margin: 0 10px;
  }
  .woodList .img {
    width: 70%;
  }
  h2.name {
    font-size: 36px;
    font-weight: 100;
  }
  p.dimensions {
    font-size: 20px;
  }
  h3.price {
    font-size: 24px;
  }
  .btn {
    margin: 5px 120px 100px 120px;
    padding: 3px 15px;
    font-size: 18px;
  }
}

/*----------- MOBILE VIEW -------------*/
@media screen and (max-width: 420px) {
  /*---- INDEX.HTML ----*/
  /* header */
  #logo {
    width: 40%;
  }
  #nav a {
    margin: 0 15px;
    font-size: 12px;
  }
  .language {
    font-size: 12px;
  }
  .langWrap a {
    padding-right: 3px;
  }
  .langWrap a:last-of-type {
    margin-right: 5px;
  }
  /* profile */
  #profile {
    padding-bottom: 80px;
  }
  .profileImg {
    width: 35%;
  }
  .profileTitle {
    font-size: 32px;
    margin-top: 0;
  }
  .description {
    margin: 0 30px;
    font-size: 16px;
    line-height: 130%;
  }
  /* wood & glass preview */
  .woodText,
  .glassText {
    margin: 0 30px;
  }
  #wood img {
    margin-left: 50px;
    margin-bottom: 80px;
    width: 75%;
  }
  #glass img {
    width: 75%;
  }
  #wood .woodSub,
  #glass .glassSub {
    font-size: 26px;
  }
  #wood .woodDesc,
  #glass .glassDesc {
    font-size: 14px;
    margin: 20px 0;
    text-align: center;
  }
  #wood #woodBtn,
  #glass #glassBtn {
    padding: 8px 15px;
    font-size: 10px;
  }
  /* footer */
  #footer {
    padding: 10px;
  }
  .copyright {
    margin: 0;
    font-size: 8px;
    text-align: left;
  }
  a.email {
    font-size: 8px;
  }
  /* social media icons */
  .socialIcons img {
    width: 10px;
  }

  /*---- WOOD.HTML & GLASS.HTML -----*/
  .woodGalleryTitle,
  .glassGalleryTitle {
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 50px;
  }
  #woodList,
  #glassList {
    grid-template-columns: 1fr;
    margin: 0 20px;
  }
  #woodProduct .img,
  #glassProduct .img {
    width: 70%;
  }
  h2.name {
    font-size: 26px;
  }
  p.dimensions {
    font-size: 14px;
  }
  h3.price {
    font-size: 16px;
  }
  .btn {
    margin: 10px 150px 70px 150px;
    padding: 0 5px;
    font-size: 10px;
  }
}

/*----------- OTHER MOBILES -----------*/
/*mobile 325 or smaller*/
@media screen and (max-width: 325px) {
  /*---- INDEX.HTML ----*/
  /*---- WOOD.HTML -----*/
  /*---- GLASS.HTML ----*/
}
