/* fonts */
/* @import url("https://fonts.googleapis.com/css?family=Baskerville:400,400i&display=swap"); */
@font-face {
  font-family: "Transat Regular";
  src: url("fonts/transat_standard-webfont.ttf");
}
@font-face {
  font-family: "Transat Bold";
  src: url("fonts/transat_bold-webfont.ttf");
}
* {
  margin: 0;
}

/*--------- VARIABLES --------*/
:root {
  --simple-font: "Baskerville", serif;
  --main-font: "Transat Regular";
  --main-font-bold: "Transat Bold";
  --nav-font: "Courier New", Courier, monospace;
  --text-color: #000;
}

/*----------------------------- INDEX.HTML -------------------------*/
/*----------- HEADER ---------*/
#header {
  font-family: var(--nav-font);
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "logo nav language";
  margin-top: 35px;
}
/* logo */
#logo {
  grid-area: logo;
  margin-left: 30px;
  width: 35%;
}
/* navigation */
#nav {
  grid-area: nav;
  display: flex;
  justify-content: center;
}
#nav a {
  grid-area: nav;
  margin: 0 100px;
  text-decoration: none;
  color: var(--text-color);
  text-transform: uppercase;
  font-size: 14px;
}
#nav a.woodLink {
  border-bottom: 2px solid olive;
  margin-bottom: 60px;
}
#nav a.woodLink:hover {
  border-bottom: transparent;
}
#nav a.glassLink {
  border-bottom: 2px solid darkred;
  margin-bottom: 60px;
}
#nav a.glassLink:hover {
  border-bottom: transparent;
}
#nav a.homeLink {
  border-bottom: 2px solid orange;
  margin-bottom: 60px;
}
#nav a.homeLink:hover {
  border-bottom: transparent;
}
#nav a:active {
  border-bottom: none;
}
/* language */
.language {
  text-align: right;
  margin-right: 30px;
}

/*----------- PROFILE SECTION ----------*/
/* profile */
#profile {
  padding-bottom: 150px;
}
.profileImg {
  display: block;
  margin: 30px auto;
  width: 23%;
}
.profileTitle {
  text-align: center;
  margin: 50px 0 20px 0;
  font-size: 50px;
  font-family: var(--simple-font);
  font-weight: 100;
  font-style: italic;
}
.description {
  text-align: center;
  margin: 0 300px;
  font-size: 22px;
  font-family: var(--simple-font);
  line-height: 150%;
}

/*----------- WOOD SECTION ----------*/
#wood {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-areas: "woodImg woodText";
  font-family: var(--simple-font);
}
#wood img {
  grid-area: woodImg;
  width: 65%;
  display: flex;
  /* justify-content: flex-end; */
  margin-left: 200px;
  margin-bottom: 150px;
}
.woodText {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.7fr 0.3fr 1fr;
  grid-template-areas: "woodSub" "woodDesc" "woodBtn";
}
#wood .woodSub {
  grid-area: woodSub;
  display: flex;
  align-self: flex-end;
  justify-content: center;
  font-style: italic;
  font-weight: 100;
  text-align: center;
  font-size: 50px;
}
#wood .woodDesc {
  grid-area: woodDesc;
  text-align: center;
  display: flex;
  align-self: center;
  justify-content: center;
  font-size: 20px;
}
#wood #woodBtn {
  grid-area: woodBtn;
  background: inherit;
  border: 1px solid;
  padding: 15px 45px;
  font-size: 14px;
  font-family: var(--simple-font);
}
#wood .btn {
  grid-area: woodBtn;
  display: flex;
  align-self: flex-start;
  justify-content: center;
}

/*----------- GLASS SECTION ----------*/
#glass {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-areas: "glassText glassImg";
  font-family: var(--simple-font);
}
#glass img {
  grid-area: glassImg;
  width: 65%;
  display: flex;
  justify-content: left;
}
.glassText {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.7fr 0.3fr 1fr;
  grid-template-areas: "glassSub" "glassDesc" "glassBtn";
}
#glass .glassSub {
  grid-area: glassSub;
  font-style: italic;
  font-weight: 100;
  display: flex;
  align-self: flex-end;
  justify-content: center;
  font-size: 50px;
}
#glass .glassDesc {
  grid-area: glassDesc;
  display: flex;
  align-self: center;
  justify-content: center;
  font-size: 20px;
}
#glass #glassBtn {
  grid-area: glassBtn;
  background: inherit;
  border: 1px solid;
  padding: 15px 45px;
  font-size: 14px;
  font-family: var(--simple-font);
}
#glass .btn {
  grid-area: glassBtn;
  display: flex;
  align-self: flex-start;
  justify-content: center;
}

/*----------- FOOTER ---------*/
#footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "logo socialMedia"
    "copyright email";
  padding: 25px;
  margin-top: 50px;
  background-color: black;
  color: white;
}
/* copyright */
.copyright {
  grid-area: copyright;
  margin-top: 30px;
  display: flex;
  align-self: flex-end;
}
/* logo */
.logo {
  grid-area: logo;
  width: 12%;
}
/* social media icons */
.socialIcons img {
  grid-area: socialMedia;
  float: right;
}
.instagram {
  width: 40px;
}
.facebook {
  width: 30px;
  padding-top: 4px;
}
/* email */
a.email {
  grid-area: email;
  display: flex;
  justify-content: flex-end;
  align-self: flex-end;
  color: white;
  text-decoration: none;
}
a.email::before {
  content: "✉";
  width: 25px;
  transform: scale(2);
}
/* phone */
.phone {
  grid-area: email;
  display: flex;
  justify-content: flex-end;
  align-content: flex-start;
}
.phone::before {
  content: "☏";
  width: 25px;
  transform: scale(1.5);
}

/*----------------------------- WOOD.HTML -------------------------*/
/*----------- TITLE ---------*/
#woodGallery {
  font-family: var(--simple-font);
}
.woodGalleryTitle {
  font-weight: 100;
  font-size: 46px;
  font-style: italic;
  text-align: center;
  margin-bottom: 60px;
}

/*----------- WOOD GALLERY ---------*/
/* images */
#woodGalleryGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, 0.4fr);
  row-gap: 5px;
  column-gap: 5px;
  margin: 0 100px;
}
/* template elements */
#woodGalleryGrid img {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
h2.name,
p.dimensions,
p.price,
.buyBtn,
.buyBtn2 {
  display: grid;
  justify-content: center;
  align-self: center;
  line-height: 2.3em;
}
h2.name {
  font-weight: 100;
  font-size: 34px;
  font-style: italic;
}
.buyBtn {
  background: inherit;
  border: 1px solid;
  padding: 5px 10px;
  margin: 5px 150px 100px 150px;
  font-size: 12px;
  font-family: var(--simple-font);
  cursor: pointer;
}
/* one */
#singleGrid1 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, 0.1fr);
  grid-template-areas: "img" "name" "dimensions" "price" "btn";
}
#woodGalleryGrid .butterfly {
  grid-area: img;
  width: 90%;
}
#singleGrid1 h2.name {
  grid-area: name;
}
#singleGrid1 p.dimensions {
  grid-area: dimensions;
}
#singleGrid1 p.price {
  grid-area: price;
}
#singleGrid1 .buyBtn {
  grid-area: btn;
}
/* two */
#singleGrid2 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, 0.1fr);
  grid-template-areas: "img" "name" "dimensions" "price" "btn";
}
#woodGalleryGrid .apple1 {
  grid-area: img;
  width: 90%;
}
#singleGrid2 h2.name {
  grid-area: name;
}
#singleGrid2 p.dimensions {
  grid-area: dimensions;
}
#singleGrid2 p.price {
  grid-area: price;
}
#singleGrid2 .buyBtn {
  grid-area: btn;
}
/* three */
#singleGrid3 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, 0.1fr);
  grid-template-areas: "img" "name" "dimensions" "price" "btn";
}
#woodGalleryGrid .indian {
  grid-area: img;
  width: 70%;
}
#singleGrid3 h2.name {
  grid-area: name;
}
#singleGrid3 p.dimensions {
  grid-area: dimensions;
}
#singleGrid3 p.price {
  grid-area: price;
}
#singleGrid3 .buyBtn {
  grid-area: btn;
}
/* four */
#singleGrid4 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, 0.1fr);
  grid-template-areas: "img" "name" "dimensions" "price" "btn";
}
#woodGalleryGrid .apple2 {
  grid-area: img;
  width: 90%;
}
#singleGrid4 h2.name {
  grid-area: name;
}
#singleGrid4 p.dimensions {
  grid-area: dimensions;
}
#singleGrid4 p.price {
  grid-area: price;
}
#singleGrid4 .buyBtn {
  grid-area: btn;
}
/* five */
#singleGrid5 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, 0.1fr);
  grid-template-areas: "img" "name" "dimensions" "price" "btn";
}
#woodGalleryGrid .apple3 {
  grid-area: img;
  width: 90%;
}
#singleGrid5 h2.name {
  grid-area: name;
}
#singleGrid5 p.dimensions {
  grid-area: dimensions;
}
#singleGrid5 p.price {
  grid-area: price;
}
#singleGrid5 .buyBtn {
  grid-area: btn;
}
/* six */
#singleGrid6 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, 0.1fr);
  grid-template-areas: "img" "name" "dimensions" "price" "btn";
}
#woodGalleryGrid .mosaic {
  grid-area: img;
  width: 90%;
}
#singleGrid6 h2.name {
  grid-area: name;
}
#singleGrid6 p.dimensions {
  grid-area: dimensions;
}
#singleGrid6 p.price {
  grid-area: price;
}
#singleGrid6 .buyBtn {
  grid-area: btn;
}
/* seven */
#singleGrid7 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, 0.1fr);
  grid-template-areas: "img" "name" "dimensions" "price" "btn";
}
#woodGalleryGrid .elephant1 {
  grid-area: img;
  width: 90%;
}
#singleGrid7 h2.name {
  grid-area: name;
}
#singleGrid7 p.dimensions {
  grid-area: dimensions;
}
#singleGrid7 p.price {
  grid-area: price;
}
#singleGrid7 .buyBtn {
  grid-area: btn;
}
/* eight */
#singleGrid8 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, 0.1fr);
  grid-template-areas: "img" "name" "dimensions" "price" "btn";
}
#woodGalleryGrid .lagarto {
  grid-area: img;
  width: 90%;
}
#singleGrid8 h2.name {
  grid-area: name;
}
#singleGrid8 p.dimensions {
  grid-area: dimensions;
}
#singleGrid8 p.price {
  grid-area: price;
}
#singleGrid8 .buyBtn {
  grid-area: btn;
}
/* nine */
#singleGrid9 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, 0.1fr);
  grid-template-areas: "img" "name" "dimensions" "price" "btn";
}
#woodGalleryGrid .escher1 {
  grid-area: img;
  width: 90%;
}
#singleGrid9 h2.name {
  grid-area: name;
}
#singleGrid9 p.dimensions {
  grid-area: dimensions;
}
#singleGrid9 p.price {
  grid-area: price;
}
#singleGrid9 .buyBtn {
  grid-area: btn;
}
/* ten */
#singleGrid10 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, 0.1fr);
  grid-template-areas: "img" "name" "dimensions" "price" "btn";
}
#woodGalleryGrid .elephant2 {
  grid-area: img;
  width: 90%;
  margin-right: auto;
}
#singleGrid10 h2.name {
  grid-area: name;
}
#singleGrid10 p.dimensions {
  grid-area: dimensions;
}
#singleGrid10 p.price {
  grid-area: price;
}
#singleGrid10 .buyBtn {
  grid-area: btn;
}
/* eleven */
#singleGrid11 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, 0.1fr);
  grid-template-areas: "img" "name" "dimensions" "price" "btn";
}
#woodGalleryGrid .pear1 {
  grid-area: img;
  width: 90%;
  margin-left: auto;
}
#singleGrid11 h2.name {
  grid-area: name;
}
#singleGrid11 p.dimensions {
  grid-area: dimensions;
}
#singleGrid11 p.price {
  grid-area: price;
}
#singleGrid11 .buyBtn {
  grid-area: btn;
}
/* twelve */
#singleGrid12 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, 0.1fr);
  grid-template-areas: "img" "name" "dimensions" "price" "btn";
}
#woodGalleryGrid .pear2 {
  grid-area: img;
  width: 90%;
}
#singleGrid12 h2.name {
  grid-area: name;
}
#singleGrid12 p.dimensions {
  grid-area: dimensions;
}
#singleGrid12 p.price {
  grid-area: price;
}
#singleGrid12 .buyBtn {
  grid-area: btn;
}
/* thirteen */
#singleGrid13 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, 0.1fr);
  grid-template-areas: "img" "name" "dimensions" "price" "btn";
}
#woodGalleryGrid .apple4 {
  grid-area: img;
  width: 90%;
}
#singleGrid13 h2.name {
  grid-area: name;
}
#singleGrid13 p.dimensions {
  grid-area: dimensions;
}
#singleGrid13 p.price {
  grid-area: price;
}
#singleGrid13 .buyBtn {
  grid-area: btn;
}
/* fourteen */
#singleGrid14 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, 0.1fr);
  grid-template-areas: "img" "name" "dimensions" "price" "btn";
}
#woodGalleryGrid .apple5 {
  grid-area: img;
  width: 90%;
}
#singleGrid14 h2.name {
  grid-area: name;
}
#singleGrid14 p.dimensions {
  grid-area: dimensions;
}
#singleGrid14 p.price {
  grid-area: price;
}
#singleGrid14 .buyBtn {
  grid-area: btn;
}
/* fifteen */
#singleGrid15 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, 0.1fr);
  grid-template-areas: "img" "name" "dimensions" "price" "btn";
}
#woodGalleryGrid .pear3 {
  grid-area: img;
  width: 90%;
}
#singleGrid15 h2.name {
  grid-area: name;
}
#singleGrid15 p.dimensions {
  grid-area: dimensions;
}
#singleGrid15 p.price {
  grid-area: price;
}
#singleGrid15 .buyBtn {
  grid-area: btn;
}
/* sixteen */
#singleGrid16 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, 0.1fr);
  grid-template-areas: "img" "name" "dimensions" "price" "btn";
}
#woodGalleryGrid .peixe {
  grid-area: img;
  width: 90%;
}
#singleGrid16 h2.name {
  grid-area: name;
}
#singleGrid716 p.dimensions {
  grid-area: dimensions;
}
#singleGrid16 p.price {
  grid-area: price;
}
#singleGrid16 .buyBtn {
  grid-area: btn;
}
/* seventeen */
#singleGrid17 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, 0.1fr);
  grid-template-areas: "img" "name" "dimensions" "price" "btn";
}
#woodGalleryGrid .apple6 {
  grid-area: img;
  width: 90%;
}
#singleGrid17 h2.name {
  grid-area: name;
}
#singleGrid17 p.dimensions {
  grid-area: dimensions;
}
#singleGrid17 p.price {
  grid-area: price;
}
#singleGrid17 .buyBtn {
  grid-area: btn;
}
/* eighteen */
#singleGrid18 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, 0.1fr);
  grid-template-areas: "img" "name" "dimensions" "price" "btn";
}
#woodGalleryGrid .escher2 {
  grid-area: img;
  width: 90%;
}
#singleGrid18 h2.name {
  grid-area: name;
}
#singleGrid18 p.dimensions {
  grid-area: dimensions;
}
#singleGrid18 p.price {
  grid-area: price;
}
#singleGrid18 .buyBtn {
  grid-area: btn;
}
/* nineteen */
#singleGrid19 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, 0.1fr);
  grid-template-areas: "img" "name" "dimensions" "price" "btn";
}
#woodGalleryGrid .escher3 {
  grid-area: img;
  width: 90%;
}
#singleGrid19 h2.name {
  grid-area: name;
}
#singleGrid19 p.dimensions {
  grid-area: dimensions;
}
#singleGrid19 p.price {
  grid-area: price;
}
#singleGrid19 .buyBtn {
  grid-area: btn;
}

/*----------------------------- GLASS.HTML -------------------------*/
/*----------- TITLE ---------*/
#glass {
  font-family: var(--simple-font);
}
.glassGalleryTitle {
  font-weight: 100;
  font-size: 46px;
  font-style: italic;
  text-align: center;
  font-family: var(--simple-font);
  margin-bottom: 60px;
}

/*----------- GLASS GALLERY ---------*/
#glassGalleryGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 0.4fr);
  row-gap: 5px;
  column-gap: 5px;
  margin: 0 100px;
  font-family: var(--simple-font);
}
/* template elements */
#glassGalleryGrid img {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.buyBtn2 {
  background: inherit;
  border: 1px solid;
  padding: 5px 10px;
  margin: 5px 250px 100px 250px;
  font-size: 12px;
  font-family: var(--simple-font);
  cursor: pointer;
}
/* one */
#singleGridGlass1 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, 0.1fr);
  grid-template-areas: "img" "name" "dimensions" "price" "btn";
}
#glassGalleryGrid .juntos {
  grid-area: img;
  width: 80%;
}
#singleGridGlass1 h2.name {
  grid-area: name;
}
#singleGridGlass1 p.dimensions {
  grid-area: dimensions;
}
#singleGridGlass1 p.price {
  grid-area: price;
}
#singleGridGlass1 .buyBtn {
  grid-area: btn;
}
/* two */
#singleGridGlass2 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, 0.1fr);
  grid-template-areas: "img" "name" "dimensions" "price" "btn";
}
#glassGalleryGrid .white-green {
  grid-area: img;
  width: 80%;
}
#singleGridGlass2 h2.name {
  grid-area: name;
}
#singleGridGlass2 p.dimensions {
  grid-area: dimensions;
}
#singleGridGlass2 p.price {
  grid-area: price;
}
#singleGridGlass2 .buyBtn {
  grid-area: btn;
}
/* three */
#singleGridGlass3 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, 0.1fr);
  grid-template-areas: "img" "name" "dimensions" "price" "btn";
}
#glassGalleryGrid .blue-orange {
  grid-area: img;
  width: 80%;
}
#singleGridGlass3 h2.name {
  grid-area: name;
}
#singleGridGlass3 p.dimensions {
  grid-area: dimensions;
}
#singleGridGlass3 p.price {
  grid-area: price;
}
#singleGridGlass3 .buyBtn {
  grid-area: btn;
}
/* four */
#singleGridGlass4 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, 0.1fr);
  grid-template-areas: "img" "name" "dimensions" "price" "btn";
}
#glassGalleryGrid .worm {
  grid-area: img;
  width: 80%;
}
#singleGridGlass4 h2.name {
  grid-area: name;
}
#singleGridGlass4 p.dimensions {
  grid-area: dimensions;
}
#singleGridGlass4 p.price {
  grid-area: price;
}
#singleGridGlass4 .buyBtn {
  grid-area: btn;
}
/* five */
#singleGridGlass5 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, 0.1fr);
  grid-template-areas: "img" "name" "dimensions" "price" "btn";
}
#glassGalleryGrid .red-white {
  grid-area: img;
  width: 60%;
}
#singleGridGlass5 h2.name {
  grid-area: name;
}
#singleGridGlass5 p.dimensions {
  grid-area: dimensions;
}
#singleGridGlass5 p.price {
  grid-area: price;
}
#singleGridGlass5 .buyBtn {
  grid-area: btn;
}

/*------------ LANGUAGE -----------*/
.langWrap a {
  text-transform: uppercase;
  padding-right: 6px;
  border-right: 1px solid;
}
.langWrap a:last-of-type {
  border: none;
}
